@charset "utf-8";
* {padding:0;margin:0;outline:none;-webkit-tap-highlight-color:transparent;}
html,body {width:100%;height:100%;margin:0;padding:0;background:#f7f8f9;color:#616161;position:relative;overflow:hidden;}
ul,li {display:block;list-style:none;}
a {text-decoration:none;color:#000;}
.logo {text-align:center;margin:80px 0px;}
#menu {width:50px;height:50px;transform:scale(0.8);position:absolute;right:10px;top:5px;z-index:2000000;cursor:pointer;transition:0.5s;}
#menu i {position:absolute;left:0;right:0;margin:24px auto;width:25px;height:3px;background:#616161;border-radius:25px;}
#menu i:before {content:'';width:15px;height:3px;top:-8px;background:#616161;position:absolute;right:0;border-radius:25px;}
#menu i:after {content:'';width:13px;height:3px;bottom:-8px;background:#616161;position:absolute;left:0;border-radius:25px;}
#menu.on {right:380px;background:rgba(1,1,1,0.5);border-radius:25px;/* box-shadow:0 6px 8px rgba(36,159,253,.3);*/;}
#menu.on i {width:20px;background:#fff;}
#menu.on i:before {top:-5px;transform:rotate(45deg);width:14px;right:-1px;left:auto;background:#fff;}
#menu.on i:after {bottom:-5px;transform:rotate(-45deg);width:14px;right:-1px;left:auto;background:#fff;}
.tianqi {position:absolute;width:100px;left:20px;top:15px;font-size:12px;height:20px;line-height:20px;cursor:pointer;z-index:99;}
.list {width:337px;padding:0 20px;height:100%;overflow:hidden;overflow-y:auto;position:absolute;right:0px;z-index:2000;background:rgba(1,1,1,0.7);transition:0.3s all linear;}
.list.closed {right:-380px;}
.list ul {width:330px;float:left;padding:0 0 20px;margin-bottom:20px;}
.list ul li {float:left;margin:5px;width:100px;height:30px;text-align:left;line-height:30px;}
.list ul li a {width:100%;border-radius:5px;transition:0.2s all linear;height:100%;display:block;color:#fff;font-weight:500;background:rgba(0,0,0,0.3);text-align:left;font-size:12px;}
.list ul li a i {margin-right:5px;margin-left:15px;transition:0.2s all linear;}
.list ul li a i.iconfont {font-size:14px;}
.list ul li:hover a {color:#fff;background-color:#29f;background-image:linear-gradient(135deg,rgba(35,153,255) 0%,rgba(84,175,253) 100%);box-shadow:0 3px 3px rgba(0,40,70,.3);}
.list ul li:hover a i {color:#fff !important;}
.list ul li.title {width:100%;height:40px;line-height:40px;margin:30px 0 0;text-align:left;text-indent:10px;/*border-bottom:1px dashed #dedede;*/    color:#fff;font-size:18px;font-weight:bold;}
.list ul li.title i {color:#29f;margin-right:5px;font-weight:normal;}
.ssln:hover {background:#f2f2f2;}
@media (max-width:640px) {.list {width:227px;}.list ul {width:220px;}#menu {top:5px;}#menu.on {right:270px;}.ko {height:158px;overflow-y:scroll;}}
#search {width:717px;margin:56px auto 14px;position:absolute;z-index:90;top:25%;left:50%;transform:translate(-50%,-50%);}
#search form {position:relative;}
#search-text {/*padding:9pt;*/color:#616161;width:100%;height:50px;font-size:1pc;border:0;border-radius:9px;background-color:rgba(97,97,97,0.3);text-indent:20px;}
#search-text:hover{background-color:rgba(255,255,255,0.4);box-shadow:0 0 10px 0 rgba(0,0,0,.1),0 0 1px rgba(0,0,0,.1);}
input::-webkit-input-placeholder {color:#616161;}
#search button {position:absolute;top:0px;right:0;background:none;border:0;width:30px;height:36px;margin:7px 9pt 0;line-height:36px;border-radius:3px;}
#search label:hover {background:rgba(97,97,97,0.3);cursor:pointer;}
#search button i {color:#616161;font-size:18px;}
.search-group {display:none;padding-left:75px;}
.s-current .search-type {padding-left:0;display:block;}
.s-current {display:block;}
#search-list {position:relative;}
.s-type {position:absolute;top:0;left:0;z-index:13;width:75px;}
.s-type:hover {height:auto;}
.s-type>span {display:block;height:31px;width:75px;}
.s-type-list {display:none;position:absolute;top:31px;width:70px;background:rgba(0,0,0,0.9);border-radius:6px;box-shadow:0 0 6px rgba(0,0,0,.16);padding:9pt 0;color:#fff;}
.s-type-list:before {position:absolute;top:-1pc;left:10px;content:' ';display:block;width:0;height:0;border:10px solid transparent;border-bottom-color:rgba(0,0,0,0.9);}
.s-type-list label {display:block;font-size:15px;text-align:center;padding:2px 0;}
.s-type-list .tile-lg {color:#616161;width:3pc;height:3pc;font-size:1.25rem;line-height:3rem;border-radius:.3rem;display:block;margin:auto;}
.s-type-list label:hover {color:#fff;}
.s-type:hover .s-type-list {display:block;padding-top:8px;}
.type-text {position:absolute;left:0;width:75px;padding-left:9pt;font-size:1pc;line-height:31px;}
.type-text:after {content:"\e6aa";font-family:iconfont;margin:0 0 0 10px;}
.search-type {white-space:nowrap;margin:0;}
.search-type label {margin:0;}
.search-type li {display:inline-block;}
.search-type li label {display:inline-block;padding:0 11px;font-size:14px;line-height:31px;border-radius:3px 3px 0 0;cursor:pointer;}
.search-type input:checked+label,.search-type input:hover+label {background-color:rgba(97,97,97,0.3);}
.set-check {margin-top:3px;font-size:9pt;}
.set-check label {margin-left:3px;}
.set-check input,.set-check label {opacity:0;transition:all .3s ease;}
.search-type li {list-style:none;display:inline-block;}
@media screen and (max-width:767px) {#search {/*margin:25px auto 15px*/;}
.search-type {overflow:scroll;}
.search-list {height:30px;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;}
}
@media screen and (max-width:768px) {#search {/*margin:0 auto;*/width:90%;}
.search-type {overflow:scroll;}
.search-list {height:30px;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;}
}
.footer{overflow:hidden;margin:0;padding-bottom:8px;text-align:center;padding-top:18px;width:100%;font-size:12px;color:#999;clear:both;}
.fhome{position:absolute;bottom:0;left:0;}
.friend{width:100%;margin:0 auto}
.friend a{color:#999;margin:0 2px;}
.footerbot{line-height:26px;}